
.body {
	font-size: 1.1em;
}
.p {
	font-size: 1.1em;
}
#head{
	text-align: center;
}
#chercher{
	text-align: center;
}
#middle {
	text-align: center;
	width: 30%;
}
#left{
	text-align: left;
	width : 30%;
}
